/* .font {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333;
  background-color: #fff;
  float: none;
 
}
.panel {
  padding: 17px;
} */

/* .btnColor{
  background-color: #ff0000;
  font-size:100%;
} */


.not-allowed {
  pointer-events: auto! important;
  cursor: not-allowed! important;
}

